.main-section{
    height: auto;
    position: relative;
    color: aliceblue;
    padding: 15px 0 25px;
}

hr{
    border-top: 1px solid  aliceblue !important;
}

.top-city-info{
    position: relative;
    margin-bottom: 2rem;
}



