section.top-weather-info{
    padding: 20px;
}

.top-weather-info__rise-set{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.top-weather{
    border: 1px solid gainsboro;
    height: 100%;
}